:root {
    --bg-color: #1e1e1e;
    --text-color: #d4d4d4;
    --accent-color: #007acc;
    --hover-color: #4ec9b0;
}

body {
    font-family: 'Fira Code', monospace;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

/* Added Code Block Styling */
pre {
    background-color: #282828;
    border-radius: 5px;
    color: var(--code-color);
    font-family: 'Fira Code', monospace;
    margin: 1rem 0;
    padding: 1rem;
}

/* Updated anchor link styles */
a {
    color: var(--accent-color);
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: var(--hover-color);
}

nav a:hover {
    background-color: var(--accent-color);
    border-radius: 5px;
}

nav a.active {
    background-color: var(--accent-color);
    border-radius: 5px;
}

footer {
    background-color: var(--bg-color);
    color: var(--text-color);
    padding: 1rem;
    text-align: center;
}

/* Light theme (default) */
body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

/* Dark theme */
body.dark-theme {
    background-color: #333333;
    color: #ffffff;
}

/* Toggle Theme button */
#themeToggle {
    background-color: var(--accent-color);
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    margin-right: 1rem;
    padding: 0.5rem 1rem;
    transition: all 0.3s ease;
}

#themeToggle:hover {
    background-color: var(--hover-color);
}

/* Back to top button */
.back-to-top {
    background-color: var(--accent-color);
    border: none;
    border-radius: 5px;
    bottom: 30px;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    position: fixed;
    right: 30px;
    z-index: 1000;
}

/* Loader */
.loader {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2000;
    pointer-events: none;
}

.loader .spinner {
    align-self: center;
    border: 4px solid var(--bg-color);
    border-top: 4px solid var(--accent-color);
    border-radius: 50%;
    height: 50px;
    width: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Add this to your style.css */
.loader.fadeOut {
    opacity: 0;
    transition: opacity 0.5s ease;
}

.no-animation {
    animation: none !important;
  }
  