@import url("../assets/fonts/fontawesome/css/all.min.css");

:root {
  --bg-color: #282a36;
  --text-color: #efefef;
  --accent-color: #bd93f9;
  --hover-color: #b6b7b8ab;
  --main-bg: #282a36;
  --bg-text: #313340;
  --titlebar-bg: #1e1f29;
  --sidebar-bg: #343746;
  --sidebar-hover-bg: #3c3d51;
  --explorer-bg: #21222c;
  --explorer-hover-bg: #313241;
  --explorer-border: #161a1d;
  --tabs-bg: #191a21;
  --tab-bg: #21222c;
  --transparent-bg: rgba(33, 34, 44, 0.2);
  --tab-active-bg: #282a36;
  --tab-border: #191a21;
  --bottombar-bg: #191a21;
  --bottombar-border: #191a21;
  --button-bg: #44475a;
  --button-text: #f8f8f2;
  --bottombar-hover-bg: #4f4f52;
  --scrollbar-track-bg: #282a36;
  --scrollbar-thumb-bg: #454647;
  --article-bg: #21222c;
}

body {
  font-family: "Fira Code", monospace;
  line-height: 1.6;
  margin: 0;
  padding-left: 100px;
}

/* Add media queries for smaller screens */
@media (max-width: 768px) {
  body {
    padding-left: 20px;
    padding-right: 20px;
  }
}

pre {
  background-color: #282828;
  border-radius: 5px;
  color: var(--code-color);
  font-family: "Fira Code", monospace;
  margin: 1rem 0;
  padding: 1rem;
}

a:not(main a) {
  color: var(--accent-color);
  text-decoration: none;
  transition: color 0.3s ease;
}

a:not(main a):hover {
  color: var(--hover-color);
}

.nav-link {
  font-size: 1.2rem;
}

.nav-link:hover {
  background-color: var(--hover-color);
  border-radius: 7px; /* Increase the border-radius for a smoother shape */
  color: var(
    --text-color
  ); /* Add this line to set the text color when hovering nav links */
}

.nav-link.active {
  font-weight: bold;
  position: relative;
  background-image: linear-gradient(90deg, #a463fe, #e65353, #1e96ff);
  background-size: 200% auto;
  border-radius: 7px; /* Increase the border-radius for a smoother shape */
  color: #fff;
  animation: moving-gradient 5s linear infinite;
}

@keyframes moving-gradient {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

.nav-link.active:hover {
  color: #fff;
}

.nav-link.active::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-image: linear-gradient(90deg, #bd93f9, #1d7188, #bd93f9);
  background-size: 200% auto;
  bottom: -9px; /* Adjust the bottom position */
  left: 0;
  animation: moving-gradient 5s linear infinite;
}

.nav-link.active::after {
  content: "▲";
  position: absolute;
  font-size: 10px;
  bottom: -18px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  text-shadow: 0 0 5px #bd93f9, 0 0 10px #1d7188;
  animation: glowing-text 1s linear infinite, move-triangle 2s linear infinite;
}

@keyframes glowing-text {
  0% {
    text-shadow: 0 0 5px #bd93f9, 0 0 10px #1d7188;
  }
  50% {
    text-shadow: 0 0 10px #bd93f9, 0 0 20px #1d7188;
  }
  100% {
    text-shadow: 0 0 5px #bd93f9, 0 0 10px #1d7188;
  }
}

@keyframes move-triangle {
  0% {
    transform: translateX(-90%);
  }
  50% {
    transform: translateX(-10%);
  }
  100% {
    transform: translateX(-90%);
  }
}

footer {
  background-color: var(--bg-color);
  color: var(--text-color);
  padding: 1rem;
  text-align: center;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  padding-left: 100px;
}

body.dark-theme {
  background-color: #333333;
  color: #ffffff;
}

#themeToggle {
  background-color: var(--accent-color);
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  transition: all 0.3s ease;
}

#themeToggle:hover {
  background-color: var(--hover-color);
}

.back-to-top {
  background-color: var(--accent-color);
  border: none;
  border-radius: 5px;
  bottom: 30px;
  color: #fff;
  cursor: pointer;
  display: none;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  position: fixed;
  right: 30px;
  z-index: 1000;
}

.loader {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2000;
  pointer-events: none;
}

.gear-loader {
  align-self: center;
  height: 50px;
  width: 50px;
  animation: spin 3s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.gear {
  animation: gear-spin 1s linear infinite;
  transform-origin: 50% 50%;
}

@keyframes gear-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.loader.fadeOut {
  opacity: 0;
  transition: opacity 0.2s ease;
}

.no-animation {
  animation: none !important;
}

header {
  background-color: var(--bg-color);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

nav {
  display: flex;
  gap: 1rem;
}

/* Add media queries for smaller screens */
@media (max-width: 768px) {
  nav {
    flex-direction: column;
    gap: 0.5rem;
  }
}

.social-icons {
  display: flex;
  flex-direction: column;
  gap: 0.25rem; /* Adjust the gap between icons */
  align-items: center;
}

.social-icons a:hover::before {
  background-color: transparent; /* Change the color on hover to transparent */
  transform: scale(1.3);
}

.icon {
  font-size: 1.5rem; /* Adjust the size of the icons */
}

.social-icons a:hover {
  color: var(--accent-color); /* Change the color on hover to accent-color */
}

.github-logo {
  height: 30px;
  width: 30px;
  vertical-align: middle;
}

.huggingface-logo {
  height: 32px;
  width: 32px;
  vertical-align: middle;
}

.tensorflow-logo {
  height: 26px;
  width: 26px;
  vertical-align: middle;
}

header,
main,
footer {
  z-index: 900;
  position: relative;
}

.vertical-menu {
  display: flex;
  flex-direction: column;
  gap: 0.5rem; /* Adjust the gap between icons */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: #3a3d57;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  border-radius: 5px;
  width: 3vw; /* Make the bar narrower */
  height: 100%;
}

.vertical-menu a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  transition: none; /* Remove background-color transition */
}

.vertical-menu a:hover {
  background-color: rgba(
    165,
    58,
    181,
    0.4
  ); /* Keep the background color the same on hover */
}

nav #themeToggle {
  margin-left: auto;
}

main {
  margin: 0;
  box-sizing: border-box;
  padding: 2rem;
  color: var(--text-color);
  font-family: JetBrains Mono, monospace;
  flex: 1 1;
  height: 85vh;
  overflow-y: auto;
}

/* Add media queries for smaller screens */
@media (max-width: 768px) {
  main {
    padding: 1rem;
  }
}

/* blinking cursor */

.typing-text {
  font-family: JetBrains Mono, monospace;
  text-align: center;
  padding: 0;
  box-sizing: border-box;
  width: 26ch;
  color: #eee;
  font-weight: 300;
  position: relative;
  font-size: 1.75rem;
  margin: 0.75rem auto 3rem;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 1.3s steps(24, end),
    blink-caret 0.75s step-end infinite 1.5s;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 26ch;
  }
}

@keyframes blink-caret {
  0%,
  100% {
    border-color: rgb(113, 23, 181);
  }
  25% {
    border-color: rgb(168, 97, 219);
  }
  50% {
    border-color: rgb(179, 135, 211);
  }
  75%,
  100% {
    border-color: transparent;
    box-shadow: none;
  }
}

.typing-text:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 0.15em;
  border-right: 0.15em solid rgb(113, 23, 181);
  animation: blink-caret 0.75s step-end infinite, glow 0.75s infinite alternate;
}

/* skillset in index */

.skills-container {
  margin-top: 2rem;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
}

.skill {
  font-family: JetBrains Mono, monospace;
  font-size: 0.85em;
  text-align: center;
  color: var(--text-color);
  cursor: pointer;
  padding: 0.5rem 1rem;
  box-sizing: border-box;
  background-color: var(--bg-text);
  border-radius: 6px;
  font-weight: bold;
  margin: 0.5rem 0;
  transition: background-color 0.3s ease;
}

/* Add media queries for smaller screens */
@media (max-width: 768px) {
  .skill {
    font-size: 0.75em;
    padding: 0.25rem 0.5rem;
    margin: 0.25rem 0;
  }
}

/* view projects in index */

.view-projects-link {
  display: inline-block;
  background-color: var(--accent-color);
  border-radius: 5px;
  color: #ffffff;
  font-weight: 600;
  padding: 10px 15px;
  margin: 10px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.view-projects-link:hover {
  background-color: var(--hover-color);
}

/* content divider in index */

.content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.home-page-container {
  color: var(--text-color);
  font-family: JetBrains Mono, monospace;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  justify-content: center;
  flex-direction: column;
  position: relative;
  display: flex;
  flex: 2;
  margin-right: 20px;
}

/* image container in index */

.image-container {
  flex: 1;
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.round-image {
  border-radius: 50%;
  width: 380px; /* Adjust this value to set the width of the image */
  height: 380px; /* Adjust this value to set the height of the image */
  object-fit: cover;
  border: 10px solid rgba(0, 0, 0, 0.296);
}

/* moving rocket */

.rocket-animation-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.rocket {
  fill: var(--accent-color);
  width: 24px;
  height: 24px;
  position: absolute;
}

h1 {
  font-size: 4rem;
  font-weight: bold;
  margin: 0;
  padding: 0;
  margin-bottom: 0.5rem;
  text-align: center;
}

.about-page::after {
  content: "Research";
  position: fixed;
  top: 4;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Space Mono", monospace;
  font-size: 12rem;
  color: rgba(255, 255, 255, 0.1);
  z-index: -1;
}

ul {
  list-style-type: none;
}

li::before {
  content: "★ ";
  color: gold;
  font-size: 1.2em;
  margin-right: 0.5em;
}

.links {
  color: var(--accent-color);
  text-decoration: none;
  font-family: JetBrains Mono, monospace;
  transition: color 0.3s ease;
}

.links:hover {
  color: var(--hover-color);
}

/* in contact page */

.social-links {
  font-family: JetBrains Mono, monospace;
}

.social-links h3,
.social-links h4 {
  margin-bottom: 0.5rem;
  font-size: 1.5rem; /* Increase the font size */
}

.social-links ul {
  list-style-type: none;
  padding: 0;
}

.social-links li {
  padding: 0;
}

.social-links li::before {
  content: ""; /* Remove the star */
}

.social-links .logo img {
  width: 35px;
  height: 35px;
  vertical-align: middle;
}

.social-links .label {
  font-size: 1.6rem;
  margin-left: 10px;
  vertical-align: middle;
}

.social-links .links {
  font-size: 1.6rem;
  vertical-align: middle;
}

/* in projects page */

h2 {
  text-align: center;
  position: relative;
}

h2::after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  height: 1px;
  background-color: var(--text-color);
  bottom: -10px;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.5rem;
  gap: 1.5rem;
}

/* Add media queries for smaller screens */
@media (max-width: 1200px) {
  .projects-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 992px) {
  .projects-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .projects-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

.project-card {
  background-color: var(--bg-text);
  border-radius: 5px;
  overflow: hidden;
  max-width: 300px;
  display: inline-block;
  margin-right: 1rem;
  margin-bottom: 1rem;
  text-decoration: none;
  color: inherit;
}

.project-card img {
  display: block;
  width: 100%;
  height: auto;
}

.project-content {
  padding: 1rem;
}

.project-tags {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.project-tags span {
  font-family: JetBrains Mono, monospace;
  cursor: pointer;
  box-sizing: border-box;
  border: 0.1rem solid #ee5903;
  margin: 0.5rem 0.5rem 0 0;
  padding: 0.2rem 0.5rem;
  border-radius: 20px;
  font-size: 0.75rem;
  transition: all 0.2s;
  background-color: var(--button-bg);
  color: var(--button-text);
}

.project-tags span:hover {
  background-color: #ee5903;
  color: var(--text-color);
}

/* style the Code button in projects */
.project-link {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.code-link {
  text-decoration: none;
  background-color: var(--button-bg);
  color: var(--button-text);
  padding: 0.5rem 1rem;
  border-radius: 20px;
  font-size: 0.9rem;
  font-weight: bold;
  transition: all 0.2s;
}

.code-link:hover {
  background-color: #033eee;
  color: var(--text-color);
}

/* Customize scrollbar */
::-webkit-scrollbar {
  width: 8px;
  background-color: var(--bg-text);
}

::-webkit-scrollbar-thumb {
  background-color: var(--button-bg);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #ee5903;
}
